:root {
    --N0: #ffffff;
    --N0-2: #fdffff;
    --N1: #f7f8f9;
    --N2: #eff0f1;
    --N2-2: #ebecf0;
    --N2-3: #e2e3e3;
    --N3: #dbdcde;
    --N9: #3e4045;
    --N10: #22252c;
    --N13: #000000;
    --G5: #37cdab;
    --P1: #ec407a;
    --H40: 2.5rem;
    --H32: 2rem;
    --H30: 1.875rem;
    --H28: 1.75rem;
    --H24: 1.5rem;
    --H22: 1.375rem;
    --H20: 1.25rem;
    --H19: 1.1875rem;
    --H18: 1.125rem;
    --H17: 1.0625rem;
    --H16: 1rem;
    --H15: 0.9375rem;
    --H14: 0.875rem;
    --H13: 0.8125rem;
    --H12: 0.75rem;
    --H11: 0.6875rem;
    --H10: 0.625rem;
    --H9: 0.5625rem;
    --base-font: 'Gilroy', sans-serif;
    --secondary-font: 'SF', sans-serif;
    --x-offset: 64px;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    background-color: #ffffff;
    background-color: var(--N0);
  }
  main {
    background-color: #ffffff;
    background-color: var(--N0);
  }
  a,
  button {
    cursor: pointer;
    text-decoration: none;
  }
  html,
  body,
  a,
  button,
  input,
  textarea {
    font-family: 'Gilroy', sans-serif;
    font-family: var(--base-font);
  }
  ul {
    list-style: none;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  .hidden-text {
    font-size: 0 !important;
    width: 1px !important;
    height: 1px !important;
    display: inline-block !important;
    overflow: hidden !important;
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }
  .container {
    width: 100%;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    justify-content: inherit;
    flex-direction: inherit;
    align-items: inherit;
    padding-left: 16px;
    padding-right: 16px;
  }
  @media screen and (min-width: 600px) {
    .container {
      padding-left: calc(32px);
      padding-right: calc(32px);
    }
  }
  @media screen and (min-width: 1024px) {
    .container {
      padding-left: 64px;
      padding-right: 64px;
    }
  }
  .display-none {
    display: none !important;
  }

  
.header {
  padding: 18px 0;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  background-color: #ffffff;
  background-color: var(--N0);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition-property: box-shadow, background-color, padding;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-duration: 1s;
  min-height: initial;

}
.header._shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 0;
  background-color: #ffffff;
  background-color: var(--N0);
}
.header._shadow .header__logo {
  fill: #000000;
  fill: var(--N13);
}
@media screen and (min-width: 600px) {
  .header {
    padding: 16px 0;
  }
}
.header__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.header__item:not(:last-of-type) {
  margin-right: 32px;
}
.header__item--not-mobile {
  display: none;
}
@media screen and (min-width: 600px) {
  .header__item--not-mobile {
    display: inline-block;
  }
}
.header__logo {
  stroke: none;
  stroke-dasharray: 1000;
  -webkit-animation-name: logo-dash-black;
  animation-name: logo-dash-black;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  height: 24px;
  width: 215px;
}
.header__logo--mobile {
  width: 124px;
  height: 25px;
}
@media screen and (min-width: 600px) {
  .header__logo--mobile {
    display: none;
  }
}
.header__logo--desktop {
  width: 215px;
  display: none;
}
@media screen and (min-width: 600px) {
  .header__logo--desktop {
    display: block;
  }
}
.header__logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: inline-flex;
}
.link {
  white-space: nowrap;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-size: var(--H16);
  font-weight: 500;
  color: #37cdab;
  color: var(--G5);
  line-height: 1.4;
  transition-property: filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  display: inline-flex;
}
.link svg {
  width: 17px;
  height: 17px;
  fill: #37cdab;
  fill: var(--G5);
  flex-shrink: 0;
  transition-property: fill, opacity, stroke, filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  margin-left: 12px;
  position: relative;
  bottom: -2px;
}
@media screen and (min-width: 1024px) {
  .link {
    display: inline-block;
    position: relative;
  }
  .link:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition-property: width, filter;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    background-color: #37cdab;
    background-color: var(--G5);
  }
  .link:hover {
    filter: brightness(1.1);
  }
  .link:hover:after {
    width: 100%;
  }
}
.link:active {
  filter: brightness(0.9);
}
.link--black {
  color: #000000;
  color: var(--N13);
}
@media screen and (min-width: 1024px) {
  .link--black:after {
    background-color: #000000;
    background-color: var(--N13);
  }
}
.link--white {
  color: #ffffff;
  color: var(--N0);
}
@media screen and (min-width: 1024px) {
  .link--white:after {
    background-color: #ffffff;
    background-color: var(--N0);
  }
}
.link--icon {
  padding: 2px;
}
.link--icon:after {
  content: none;
}
@media screen and (min-width: 1024px) {
  .link--icon:hover svg {
    transform: scale(1.1);
    fill: #37cdab;
    fill: var(--G5);
  }
}
.link--icon:active svg {
  transform: scale(0.9);
}
.link--icon svg {
  margin-left: 0;
  width: 20px;
  height: 20px;
  fill: #ffffff;
  fill: var(--N0);
  flex-shrink: 0;
  transition-property: fill, opacity, stroke, filter;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: filter, fill, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  position: relative;
  bottom: 0;
}
.button {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.125rem;
  font-size: var(--H18);
  font-weight: 500;
  color: #000000;
  color: var(--N13);
  border-radius: 2px;
  padding: 12px 24px;
  display: inline-block;
  background-color: #37cdab;
  background-color: var(--G5);
  cursor: pointer;
  text-align: center;
  line-height: 1.25;
  transition-property: filter, border-color, color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
@media screen and (min-width: 860px) {
  .button {
    padding: 16px 48px;
  }
}
@media screen and (min-width: 1024px) {
  .button:hover {
    filter: brightness(1.1);
  }
}
.button:active {
  filter: brightness(0.9);
}
.button--outlined {
  background-color: transparent;
  border: 1px solid #37cdab;
  border: 1px solid var(--G5);
  color: #37cdab;
  color: var(--G5);
  padding: 12px 24px;
}
.button--black {
  border-color: #000000;
  border-color: var(--N13);
  color: #000000;
  color: var(--N13);
}
@media screen and (min-width: 1024px) {
  .button--black:hover {
    border-color: #000000;
    border-color: var(--N13);
    background-color: #000000;
    background-color: var(--N13);
    color: #ffffff;
    color: var(--N0);
  }
  .button--black:active {
    filter: brightness(1);
  }
}
.button--fluid {
  width: 100%;
}
.button--fluid-mobile {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .button--fluid-mobile {
    width: auto;
    width: initial;
  }
}
