$style: background-map;

.#{$style} {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  &::after {
    top: 0;
    position: absolute;
    content: '';
    width: 100%;
    padding-bottom: 40%;
    display: block;
    background: linear-gradient(
      180deg,
      #ffffffa6 0%,
      rgba(255, 255, 255, 0.01) 50%,
      #ffffff98 100%
    );
  }
  &__image-wrapper {
    pointer-events: none;
    padding-bottom: 40%;
    position: relative;
    @include media($screen-tablet-small) {
      @include padding-hack(40%, cover);
    }
  }
  &__image {
    position: absolute;
    object-position: 670% -50%;
    z-index: -1;
    width: 200%;
    height: 200%;
    object-fit: cover;
    @include media($screen-tablet-small) {
      object-position: 50% 50%;
    }
  }
  &__location-marker {
    pointer-events: all;
    left: 48%;
    top: 28%;
    @include media($screen-iphone-plus) {
      left: 49%;
      top: 30%;
    }
    @include media($screen-tablet-small) {
      left: 40%;
      top: 13%;
    }
    @include media($screen-tablet) {
      left: 42%;
      top: 14%;
    }
    @include media {
      left: 43%;
      top: 15%;
    }
  }
}
