$style: button;

.#{$style} {
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  @include text($H18, 500, $N13);
  border-radius: 2px;
  padding: 12px 24px;
  display: inline-block;
  background-color: $G5;
  cursor: pointer;
  text-align: center;
  line-height: 1.25;
  @include transition(filter, border-color, color, background-color);
  @include media($screen-tablet-large) {
    padding: 16px 48px;
    
  }
  @include media {
    &:hover {
      filter: brightness(1.1);
    }
  }
  &:active {
    filter: brightness(0.9);
  }
  &--outlined {
    background-color: transparent;
    border: 1px solid $G5;
    color: $G5;
    padding: 12px 24px;
  }
  &--black {
    border-color: $N13;
    color: $N13;
    @include media {
      &:hover {
        border-color: $N13;
        background-color: $N13;
        color: $N0;
      }
      &:active {
        filter: brightness(1);
      }
    }
    
  }
  &--fluid {
    width: 100%;
  }
  &--fluid-mobile {
    width: 100%;
    @include media($screen-tablet-small) {
      width: initial;
    }
  }
}
