$style: comments-slider;

.#{$style} {
  &__slide {
    padding: 33px 0 24px;
    height: 230px;
    @include flex-col(space-between, center);
    display: flex !important;
    @include media($screen-tablet-large) {
      height: 330px;
      padding: 24px 0 24px 32px;
      align-items: stretch;
    }
  }
  &__slide-head {
    position: relative;
  }
  &__icon-quotes {
    position: absolute;
    top: 29px;
    z-index: -1;
    left: 0px;
    @include size(35px);
    @include media($screen-tablet-large) {
      top: 74px;
      @include size(70px);
    }
  }
  &__controll {
    border-top: 1px solid $N2;
    padding-top: 16px;
    @include flex(center, center);
    @include media($screen-tablet-large) {
      justify-content: space-between;
    }
  }
  &__company {
    @include text($H16, 400, $N10);
    margin-bottom: 22px;
    @include media($screen-tablet-large) {
      font-size: $H18;
      margin-bottom: 72px;
    }
  }
  &__comment {
    @include text($H18, 400, $N13);
    padding: 0 16px;
    line-height: 1.5;
    @include media($screen-tablet-large) {
      font-size: $H24;
    }
  }
  &__author {
    @include text($H18, 600, $N10);
    &--thin {
      font-weight: 400;
    }
  }
  &__dots {
    ul {
      @include flex(flex-start, center);
    }
    li {
      &:not(:last-of-type) {
        margin-right: 8px;
      }
      button {
        outline: none;
        border: none;
        font-size: 0;
        text-indent: -9999px;
        overflow: hidden;
        border-radius: 50%;
        @include size(10px);
        background-color: $N2;
        @include transition(background-color);
      }
    }
    li.slick-active button {
      background-color: $N13;
    }
  }
  &__arrow {
    display: none !important;
    @include media($screen-tablet-large) {
      outline: none;
      background-color: transparent;
      border: none;
      @include flex(flex-start, center);
      display: inline-flex !important;
    }
    @include media {
      &:hover {
        .#{$style}__arrow-icon {
          transform: scaleX(0.8);
        }
      }
    }
    &:active {
      .#{$style}__arrow-icon {
        transform: scaleX(0.9);
      }
    }
  }
  &__arrow-text {
    @include text($H18, 500, $N13);
    margin-right: 18px;
  }
  &__arrow-icon {
    @include transition(transform);
    transform-origin: left center;
  }
}
