$style: comments-slider;

.#{$style} {
  &__slide {
    padding: 12px 0 24px;
    min-height: 266px;
    @include flex-col(space-between, center);
    display: flex !important;
    @include media($screen-tablet-large) {
      height: 330px;
      padding: 20px 0 24px 32px;
      
    }
    @include media($screen-netbook) {
      align-items: stretch;
    }
  }
  &__icon-quotes-wrapper {
    position: absolute;
    top: 0px;
    z-index: 0;
    @include media($screen-tablet-large) {
      top: -6px;
    }
  }
  &__icon-quotes {
    position: relative;
    @include size(35px);
    left: 4px;
    @include media($screen-tablet-large) {
      @include size(62px);
      left: -10px;
    }
    @include media($screen-netbook) {
      left: -32px;
    }
  }
  &__controll {
    border-top: 1px solid $N2;
    padding-top: 16px;
    @include flex(center, center);
    @include media($screen-tablet-large) {
      justify-content: space-between;
      padding-top: 24px;
    }
  }
  &__company {
    @include text($H16, 600, $N10);
    margin-bottom: 2px;
    visibility: hidden;
    @include media($screen-tablet-large) {
      font-size: $H18;
      margin-bottom: 6px;
    }
  }
  &__comment {
    @include text($H18, 500, $N13);
    padding: 0 16px;
    line-height: 1.5;
    @include media($screen-tablet-large) {
      font-size: $H24;
      padding: 0;
    }
    
  }
  &__author {
    @include text($H16, 400, $N10);
    visibility: hidden;
  }
  &__dots {
    ul {
      @include flex(flex-start, center);
    }
    li {
      &:not(:last-of-type) {
        margin-right: 8px;
      }
      button {
        outline: none;
        border: none;
        font-size: 0;
        text-indent: -9999px;
        overflow: hidden;
        border-radius: 50%;
        @include size(8px);
        background-color: $N2;
        @include transition(background-color);
        @include media($screen-tablet-small) {
          @include size(10px);
        }
      }
    }
    li.slick-active button {
      background-color: $N13;
    }
  }
  &__arrow {
    display: none !important;
    @include media($screen-tablet-large) {
      outline: none;
      background-color: transparent;
      border: none;
      @include flex(flex-start, center);
      display: inline-flex !important;
    }
    @include media {
      &:hover {
        .#{$style}__arrow-icon {
          transform: scaleX(0.8);
        }
      }
    }
    &:active {
      .#{$style}__arrow-icon {
        transform: scaleX(0.9);
      }
    }
  }
  &__arrow-text {
    @include text($H18, 500, $N13);
    margin-right: 18px;
  }
  &__arrow-icon {
    @include transition(transform);
    transform-origin: left center;
  }
}
