$style: expertise-card;
$icon-crm: icon-crm;

@keyframes rotate-x {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(360deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes hand-wave {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dot-pulse-crm {
  0% {
    fill: $N9;
  }
  25% {
    fill: red;
  }
  50% {
    fill: $N9;
  }
  100% {
    fill: $N9;
  }
}

@keyframes dash-crm {
  0% {
    stroke-dashoffset: 100;
    stroke: $G5;
    fill: transparent;
  }
  75% {
    stroke: transparent;
    fill: $G5;
    stroke-dashoffset: 0;
  }
  100% {
    stroke: $G5;
    fill: transparent;
    stroke-dashoffset: 100;
  }
}

.#{$style} {
  &__title {
    @include text($H20, 700, $N13);
    margin-bottom: 9px;
  }
  &__description {
    @include text($H16, 400, $N10);
    @include media($screen-tablet-large) {
      font-size: $H18;
    }
  }
  &__icon {
    @include size(30px);
    margin-bottom: 12px;
    &--crm {
      path:nth-child(1) {
        animation: dot-pulse-crm 2s infinite;
      }
      path:nth-child(2) {
        animation: dot-pulse-crm 2s infinite 0.25s;
      }
      path:nth-child(3) {
        animation: dot-pulse-crm 2s infinite 0.5s;
      }
      path:nth-child(n + 5) {
        stroke-dasharray: 100;
        stroke-width: 1px;
        animation: dash-crm 4s infinite 0.5s;
      }
    }
    &--exchange {
      transform-origin: center center;
      animation: rotate-x 5s infinite;
    }
    &--mobile {
      g {
        animation: hand-wave 4s infinite;
      }
    }
  }
}
