$style: footer;

.#{$style} {
  background-color: $N13;
  &__head {
    padding: 48px 0;
    border-bottom: 1px solid $N9;
    text-align: center;
    position: relative;
    @include media($screen-netbook) {
      padding: 80px 0;
    }
    @include media {
      padding: 128px 0;
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    max-width: 240px;
    @include text($H22, 700, $N0);
    margin: 0 auto 32px;
    @include media($screen-tablet-small) {
      font-size: $H24;
      max-width: 260px;
    }
    @include media($screen-netbook) {
      margin: 0 auto 58px;
      max-width: 380px;
      font-size: $H32;
    }
    @include media {
      font-size: $H40;
      max-width: 420px;
    }
  }
  &__button-wrapper {
    position: relative;
    z-index: 1;
  }
  &__footer {
    padding: 39px 0 32px;
    @include flex-col(space-between, center);
    @include media($screen-netbook) {
      flex-direction: row;
      padding: 57px 0;
      align-items: flex-start;
    }
    & > * {
      &:nth-child(1) {
        padding-top: 32px;
        order: 3;
        margin-bottom: 26px;
        border-top: 1px solid $N9;
        width: 100%;
        @include flex(space-between, flex-end);
        @include media($screen-netbook) {
          order: 1;
          border-top: none;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 0;
          padding-top: 0;
        }
      }
      &:nth-child(2) {
        order: 1;
        margin-bottom: 36px;
        @include media($screen-netbook) {
          order: 2;
        }
      }
      &:nth-child(3) {
        order: 2;
        @include media($screen-netbook) {
          order: 3;
        }
      }
    }
  }
  &__contacts {
    flex: 1 1;
    @include flex-col(space-between, flex-start);
  }
  &__logo-wrapper {
    display: inline-flex;
    @include media($screen-netbook) {
      margin-bottom: 49px;
    }
  }
  &__download-link {
    @include media($screen-netbook) {
      font-size: $H18;
    }
  }
  &__email {
    font-size: $H14;
    @include media($screen-netbook) {
      font-size: $H18;
    }
  }
  &__logo {
    width: 114px;
    height: 24px;
    fill: $N0;
    stroke: none;
    stroke-dasharray: 1000;
    animation-name: logo-dash-white;
    animation-duration: 20s;
    @include media($screen-tablet-small) {
      width: 215px;
    }
  }
  &__links {
    flex: 1 1;
    @include flex(space-between);
    &:not(:last-of-type) {
      margin-right: 24px;
    }
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  &__col {
    @include flex-col(flex-start, flex-start);

    &--fluid {
      flex: 1 1;
    }
    &--download {
      @include media($screen-netbook) {
        flex: 1 1;
        align-items: center;
        margin: 0 6%;
      }
    }
    &--resources {
      margin-bottom: 32px;
      @include media($screen-netbook) {
        margin-bottom: 0;
        margin-right: 24px;
      }
    }
  }
  &__col-wrapper {
    flex: 1 1;
    @include flex-col(space-between, center);
    margin-bottom: 42px;
    @include media($screen-netbook) {
      margin-bottom: 0;
      flex-direction: row;
      align-items: flex-start;
    }
  }
  &__circle-icon {
    background-color: #2acce2;
    display: block;
    @include size(20px);
    border-radius: 50%;
  }
  &__icon {
    position: absolute;
    z-index: 0;
    & > * {
      display: inline-block;
      animation-name: wave;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-child(1) {
      display: none;
      @include media($screen-netbook) {
        display: block;
        left: 0;
        top: 176px;
      }
    }
    &:nth-child(2) {
      left: 2%;
      top: 32px;
      & > * {
        animation-delay: 200ms;
        @include size(24px);
        @include media($screen-netbook) {
          @include size(50px);
        }
      }
      @include media($screen-netbook) {
        left: 14%;
        top: 57px;
      }
    }
    &:nth-child(3) {
      left: 8%;
      top: 145px;
      & > * {
        animation-delay: 400ms;
        @include size(16px);
        @include media($screen-netbook) {
          @include size(48px);
        }
      }
      @include media($screen-netbook) {
        left: 16%;
        top: 339px;
      }
    }
    &:nth-child(4) {
      right: 2%;
      top: 67px;
      & > * {
        animation-delay: 600ms;
        @include size(20px);
        @include media($screen-netbook) {
          @include size(60px);
        }
      }
      @include media($screen-netbook) {
        right: 8%;
      }
    }
    &:nth-child(5) {
      display: none;
      @include media($screen-netbook) {
        display: block;
        right: 16%;
        top: 309px;
        & > * {
          animation-delay: 800ms;
        }
      }
    }
    &:nth-child(6) {
      right: 0;
      top: 164px;
      & > * {
        animation-delay: 1000ms;
        object-fit: contain;
        @include size(32px);
        @include media($screen-netbook) {
          @include size(64px);
        }
      }
      @include media($screen-netbook) {
        top: 318px;
      }
    }
    &:nth-child(7) {
      right: 26%;
      top: 25px;
      & > * {
        animation-delay: 1200ms;
        @include size(8px);
        @include media($screen-netbook) {
          @include size(20px);
        }
      }
      @include media($screen-netbook) {
        top: 57px;
        right: 30%;
      }
    }
  }
  &__social {
    @include flex(flex-start, center);
  }
  &__social-item {
    &:not(:last-of-type) {
      margin-right: 18px;
    }
  }
}
