$style: header;

.#{$style} {
  padding: 18px 0;
  position: sticky;
  @include flex(space-between, center);
  position: sticky;
  background-color: $N0;
  top: 0;
  z-index: 10;
  @include media($screen-tablet-small) {
    padding: 16px 0;
  }
  &__list {
    list-style: none;
    @include flex(flex-start, center);
  }
  &__item {
    &:not(:last-of-type) {
      margin-right: 32px;
    }
    &--not-mobile {
      display: none;
      @include media($screen-tablet-small) {
        display: inline-block;
      }
    }
  }
  &__logo {
    stroke: none;
    stroke-dasharray: 1000;
    animation-name: logo-dash;
    animation-duration: 20s;
    height: 24px;
    width: 215px;

    &--mobile {
      width: 124px;
      height: 25px;
      @include media($screen-tablet-small) {
        display: none;
      }
    }
    &--desktop {
      width: 215px;
      display: none;
      @include media($screen-tablet-small) {
        display: block;
      }
    }
  }
  &__logo-wrapper {
    @include flex(center, center);
    display: inline-flex;
  }
}
