$style: section-solutions;

.#{$style} {
  padding: 53px 16px 57px;
  @include media($screen-tablet-small) {
    padding: 53px 32px 57px;
  }
  @include media {
    padding: 67px 88px 100px;
  }
  &__title-wrapper {
    margin-bottom: 20px;
    @include media($screen-tablet-small) {
      margin-bottom: 32px;
    }
    @include media($screen-tablet-large) {
      margin-bottom: 45px;
    }
  }
  &__title {
    @include text($H24, 700, $N13);
    @include media($screen-tablet-small) {
      font-size: $H30;
    }
    @include media($screen-tablet-large) {
      text-align: center;
      font-size: $H32;
    }
  }
  &__list-wrapper {
    max-width: 100%;
    @include media($screen-tablet) {
      @include flex(space-between);
    }
  }
  &__list {
    max-width: 100%;
    @include media($screen-tablet) {
      column-count: 2;
      column-gap: 32px;
    }
    @include media() {
      column-gap: 64px;
    }
    @include media($screen-hd) {
      column-gap: 112px;
    }
  }
  &__item {
    @include media($screen-tablet) {
      
    }
    &:not(:last-of-type) {
      margin-bottom: 47px;
      @include media($screen-tablet) {
        margin-bottom: 52px;
      }
    }
  }
}
