$style: section-solutions;

.#{$style} {
  padding: 48px 16px 48px;
  @include media($screen-tablet-small) {
    padding: 48px 32px 48px;
  }
  @include media {
    padding: 80px 88px 112px;
  }
  &__title {
    
    @include text($H28, 700, $N13);
    margin-bottom: 32px;
    @include media($screen-tablet-small) {
      
      font-size: $H30;
      margin-bottom: 52px;
    }
    @include media($screen-tablet-large) {
      text-align: center;
      font-size: $H32;
      margin-bottom: 82px;
    }
  }
  &__list-wrapper {
    max-width: 100%;
    @include media($screen-tablet) {
      @include flex(space-between);
    }
  }
  &__list {
    @include media($screen-tablet) {
      flex: 1 1;
      &:not(:last-of-type) {
        margin-right: 32px;
      }
    }
    @include media() {
      &:not(:last-of-type) {
        margin-right: 64px;
      }
    }
    @include media($screen-hd) {
      &:not(:last-of-type) {
        margin-right: 112px;
      }
    }
  }
  &__item {
    margin-bottom: 32px;
    @include media($screen-tablet) {
      margin-bottom: 0;
      &:not(:last-of-type) {
        margin-bottom: 72px;
      }
    }
  }
}
