$style: section-services;

.#{$style} {
  padding: 22% 0 48px;
  text-align: center;
  @include media($screen-tablet) {
    padding: 20% 0 112px;
  }
  &__title {
    @include text($H24, 700, $N13);
    margin-bottom: 22px;
    @include media($screen-tablet-large) {
      font-size: $H32;
    }
  }
  &__subtitle {
    @include text($H18, 400, $N13);
    margin-bottom: 71px;
  }
  &__list {
    list-style: none;
    @include flex-col(space-between);
    margin: 0 0 30px;
    @include media($screen-tablet) {
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 -16px;
    }
    @include media($screen-netbook) {
      justify-content: center;
    }
    @include media() {
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0;
    }
  }
  &__item {
    @include media($screen-tablet) {
      flex: 0 0 calc(50% - 32px);
      margin: 0 16px;
      padding-right: 32px;
    }
    @include media($screen-netbook) {
      flex: 0 0 calc(33.3% - 32px);
      margin: 0 16px;
    }
    @include media() {
      flex: 1 1;
      margin: 0;
    }
    
    &:not(:last-of-type) {
      margin-bottom: 30px;
      @include media() {
        margin-bottom: 0;
      }
    }
  }
}