$style: section-comments;

.#{$style} {
  padding: 61px 16px 64px;
  text-align: center;
  @include media($screen-tablet-large) {
    padding: 100px 32px 90px;
  }
  @include media($screen-netbook) {
    text-align: left;
    @include flex(space-between);
  }
  @include media {
    padding: 100px 88px 90px;
  }
  &__title-wrapper {
    flex: 0 0;
    @include media($screen-netbook) {
      padding-top: 115px;
      margin-right: 140px;
    }
  }
  &__title {
    @include text($H24, 700, $N13);
    @include media($screen-tablet-large) {
      font-size: $H32;
    }
    @include media($screen-netbook) {
      width: 270px;
    }
  }
  &__content-wrapper {
    overflow: hidden;
    flex: 1 1;
    @include media($screen-tablet-large) {
      padding-left: 32px;
    }
  }
  &__slider {
    @include media($screen-tablet-large) {
      margin: 0 0 0 -32px;
    }
  }
  &__border {
    display: none;
    @include media($screen-tablet-large) {
      display: block;
      height: 1px;
      width: 100%;
      background-color: $N2;
    }
  }
}
