$style: section-dribble;

@mixin bounce-ball($name, $bottom-min: -25px, $bottom-max: 50%) {
  @keyframes #{$name} {
    0% {
      bottom: $bottom-max;
    }
    70% {
      transform: scale(1, 1);
    }
    100% {
      bottom: $bottom-min;
      transform: scale(1.15, 0.8);
    }
  }
}

@keyframes shrink-ball {
  0% {
    transform: scale(1.1);
    opacity: 0.15;
  }
  100% {
    transform: scale(0.6);
    opacity: 0.45;
  }
}

.#{$style} {
  display: block;
  @include flex-col(center, center);
  border-radius: 6px;
  overflow: hidden;
  filter: drop-shadow(0px 20px 32px rgba(101, 101, 101, 0.08));
  &._active {
    .#{$style}__icon-wrapper {
      display: block;
    }
  }
  @include media($screen-tablet-small) {
    border-radius: 8px;
  }
  @include media($screen-tablet) {
    &:before {
      content: '';
      display: block;
      position: absolute;
      @include position;
      z-index: 1;
      background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
    }
  }

  &__wrapper {
    padding: 0 16px;
    @include media($screen-tablet-large) {
      padding: 0 32px;
    }
    @include media {
      padding: 0 88px;
    }
  }

  &__image-wrapper {
    width: 100%;
    position: relative;
    height: 200px;
    @include media($screen-tablet) {
      width: 50%;
      align-self: flex-end;
    }
  }

  &__image {
    position: absolute;
    @include position;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: right center;
  }

  &__content {
    position: absolute;
    @include flex-col(center, center);
    @include position;
    z-index: 2;
    background: linear-gradient(90deg, rgba(239, 162, 188, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    @include media($screen-tablet) {
      padding: 0 78px;
      align-items: flex-start;
    }
  }

  &__title {
    text-align: center;
    @include text($H20, 700, $N13);
    z-index: 5;
    max-width: 250px;
    @include media($screen-tablet-small) {
      font-size: $H24;
    }
    @include media($screen-tablet-large) {
      font-size: $H32;
      max-width: 100%;
    }
  }

  &__icon-wrapper {
    display: none;
    margin-bottom: 20px;
    &._active {
      display: block;
    }
    @include media($screen-tablet-large) {
      margin-bottom: 18px;
    }
  }

  &__icon {
    width: 80px;
    height: 21px;
    fill: $P1;
    stroke: none;
    stroke-dasharray: 1000;
    animation-name: logo-dash-pink;
    animation-duration: 20s;
    
  }
}
