$style: section-hero;

.#{$style} {
  padding: 20px 0;
  @include flex-col(space-between);
  position: relative;
  @include media($screen-tablet-small) {
    padding: 64px 0;
  }
  @include media {
    flex-direction: row;
    align-items: center;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  &__background-map {
    top: 97%;
    @include media {
      top: 70%;
    }
  }
  &__content-side {
    flex: 1 1 55%;
    margin-bottom: 40px;
    @include media($screen-tablet-small) {
      margin-bottom: 48px;
    }
    @include media($screen-tablet-large) {
      margin-bottom: 64px;
    }
    @include media {
      margin-right: 100px;
    }
  }
  &__title {
    text-align: center;
    @include text($H28, 700, $N13);
    line-height: 1.15;
    margin-bottom: 28px;
    @include media($screen-tablet-small) {
      text-align: left;
      font-size: $H32;
      margin-bottom: 24px;
    }
    @include media($screen-tablet-large) {
      font-size: $H40;
      margin-bottom: 32px;
    }
  }
  &__description {
    @include text($H18, 400, $N10);
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    
    @include media($screen-tablet-small) {
      text-align: left;
      margin-bottom: 36px;
    }
    @include media($screen-tablet-large) {
      margin-bottom: 46px;
    }
    @include media {
      max-width: 470px;
    }
  }
  &__video-side {
    flex: 1 1 45%;
  }
  &__video-wrapper {
    border-radius: 4px;
    position: relative;
    @include media() {
      height: auto;
    }
  }
  &__video-container {
    position: relative;
    @include media {
      @include padding-hack(56%, cover);
    }
  }
  &__video {
    width: 100%;
    height: 240px;
    border-radius: 4px;
    box-shadow: 0px 6px 24px 2px rgba(21, 8, 8, 0.2);
    @include media($screen-iphone-plus) {
      height: 250px;
    }
    @include media($screen-tablet-small) {
      height: 340px;
    }
    @include media($screen-tablet) {
      height: 400px;
    }
    @include media($screen-tablet-large) {
      height: 470px;
    }
    @include media($screen-netbook) {
      height: 520px;
    }
    @include media() {
      height: auto;
    }
  }
  &__icon-texture {
    display: none;
    @include media($screen-tablet-small) {
      pointer-events: none;
      display: inline-block;
      position: absolute;
      animation-name: wave-low;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-of-type(1) {
      top: 55%;
      left: -24px;
      z-index: 1;
    }
    &:nth-of-type(2) {
      top: -24px;
      left: 42px;
      z-index: 1;
      animation-name: wave-low-x;
    }
    &:nth-of-type(3) {
      bottom: -36px;
      left: 40%;
      z-index: -1;
      animation-delay: 0.5s;
      animation-name: wave-low-x;
    }
    &:nth-of-type(4) {
      top: -12px;
      right: 36px;
      z-index: 1;
      animation-name: wave-low-x;
    }
    &:nth-of-type(5) {
      bottom: -32px;
      right: 20px;
      z-index: 1;
      animation-delay: 0.5s;
    }
    &:nth-of-type(6) {
      top: 30%;
      right: -22px;
      z-index: -1;
      animation-name: wave-low-x;
      animation-delay: 1s;
    }
  }
}
