$style: section-solutions;

.#{$style} {
  padding: 53px 16px 254px;
  @include media($screen-tablet-small) {
    padding: 53px 32px 254px;
  }
  @include media {
    padding: 67px 88px 290px;
  }
  &__title-wrapper {
    margin-bottom: 30px;
    @include media($screen-tablet-small) {
      margin-bottom: 62px;
    }
    @include media($screen-tablet-large) {
      margin-bottom: 64px;
    }
  }
  &__title {
    @include text($H24, 700, $N13);
    margin-bottom: 30px;
    @include media-max($screen-tablet-small) {
      margin-bottom: 62px;
    }
    @include media($screen-tablet-small) {
      font-size: $H30;
    }
    @include media($screen-tablet-large) {
      text-align: center;
      font-size: $H32;
      margin-bottom: 64px;
    }
  }
  &__list-wrapper {
    max-width: 100%;
    @include media($screen-tablet) {
      @include flex(space-between);
    }
  }
  &__list {
    & > * {
      &:not(:last-of-type) {
        margin-bottom: 57px;
        @include media($screen-tablet) {
          margin-bottom: 52px;
        }
      }
      @include media($screen-tablet) {
        width: calc(50% - 32.1px);
      }
      @include media($screen-hd) {
        width: calc(50% - 64.1px);
      }
    }
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 57px;
      @include media($screen-tablet) {
        margin-bottom: 52px;
      }
    }
  }
  &__first-column {
    @include media($screen-tablet) {
      margin-right: 64px;
    }
    @include media($screen-hd) {
      margin-right: 112px;
    }
  }
  &__offset {
    // margin-bottom: 100px;
  }
}
