$style: section-hero;

.#{$style} {
  padding: 84px 0 80px;
  @include flex-col(space-between);
  position: relative;
  min-height: 100vh;
  @include media($screen-tablet-small) {
    padding: 80px 0 0;
  }
  @include media {
    flex-direction: row;
    align-items: center;
  }
  &__container {
    position: relative;
    z-index: 1;
    padding-top: 20px;
    @include media($screen-tablet-small) {
      padding-top: 0;
      top: -80px;
    }
  }
  &__background-map {
    top: 95%;
    @include media($screen-tablet-small) {
      top: 103%;
    }
    @include media {
      top: 82%;
    }
  }
  &__content-side {
    flex: 1 1 55%;
    margin-bottom: 40px;
    @include media($screen-tablet-small) {
      margin-bottom: 48px;
    }
    @include media($screen-tablet-large) {
      margin-bottom: 64px;
    }
    @include media {
      margin-bottom: 0;
      margin-right: 100px;
    }
  }
  &__title {
    text-align: center;
    @include text($H28, 700, $N13);
    line-height: 1.15;
    margin-bottom: 28px;
    @include media($screen-tablet-small) {
      text-align: left;
      font-size: $H32;
      margin-bottom: 24px;
    }
    @include media($screen-tablet-large) {
      font-size: $H40;
      margin-bottom: 32px;
    }
  }
  &__description {
    @include text($H18, 400, $N10);
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;

    @include media($screen-tablet-small) {
      text-align: left;
      margin-bottom: 36px;
    }
    @include media($screen-tablet-large) {
      margin-bottom: 46px;
    }
    @include media {
      max-width: 470px;
    }
  }
  &__video-side {
    position: relative;
    z-index: 1;
    flex: 1 1 45%;
  }
  &__video-wrapper {
    border-radius: 4px;
    position: relative;
    @include media() {
      height: auto;
    }
  }
  &__video-container {
    cursor: pointer;
    @include padding-hack(69%, cover);
    border-radius: 4px;
    overflow: hidden;
    filter: drop-shadow(0px 6px 24px rgba(21, 8, 8, 0.2));
    &:hover {
      .#{$style}__play-icon {
        transform: scale(1.05);
      }
    }
    &:active {
      .#{$style}__play-icon {
        transform: scale(0.95);
      }
    }
  }
  &__play-icon-wrapper {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__play-icon {
    @include svg(100px, $N0);
    @include transition(transform);
  }
  &__icon-texture {
    display: none;
    @include media($screen-tablet-small) {
      pointer-events: none;
      display: inline-block;
      position: absolute;
      animation-name: wave-low;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:nth-of-type(1) {
      top: 55%;
      left: -24px;
      z-index: 1;
    }
    &:nth-of-type(2) {
      top: -24px;
      left: 42px;
      z-index: 1;
      animation-name: wave-low-x;
    }
    &:nth-of-type(3) {
      bottom: -36px;
      left: 40%;
      z-index: -1;
      animation-delay: 0.5s;
      animation-name: wave-low-x;
    }
    &:nth-of-type(4) {
      top: -12px;
      right: 36px;
      z-index: 1;
      animation-name: wave-low-x;
    }
    &:nth-of-type(5) {
      bottom: -32px;
      right: 20px;
      z-index: 1;
      animation-delay: 0.5s;
    }
    &:nth-of-type(6) {
      top: 30%;
      right: -22px;
      z-index: -1;
      animation-name: wave-low-x;
      animation-delay: 1s;
    }
  }
}
