$style: section-expertise;
.#{$style} {
  background-color: $N1;
  padding: 57px 0;
  @include flex(space-between, center);
  @include media($screen-tablet-large) {
    padding: 50px 0;
  }
  &__image-wrapper {
    display: none;
    @include media($screen-tablet-large) {
      display: block;
      width: 50%;
      @include padding-hack(40%, cover);
      object-position: left center;
    }
    @include media {
      padding-bottom: 40%;
    }
    img,
    svg {
      width: auto;
    }
  }

  &__image {
    * {
      transition-duration: 2s !important;
    }
  }

  &__image-filter {
    &:nth-of-type(1) {
      margin-left: 20%;
    }
    &:nth-of-type(2) {
      @include size(100px);
      position: absolute;
      left: 10%;
      bottom: 20%;
      top: auto;
      z-index: 1;
    }
    &:nth-of-type(3) {
      @include size(14%);
      position: absolute;
      left: 30%;
      top: 15%;
      z-index: 1;
    }
    &:nth-of-type(4) {
      @include size(17%);
      position: absolute;
      right: 40%;
      left: auto;
      bottom: 16%;
      top: auto;
      z-index: 1;
    }
    &:nth-of-type(5) {
      @include size(17%);
      position: absolute;
      left: 2.5%;
      top: 47.5%;
      z-index: 1;
    }
  }

  &__container {
    @include flex-col(center, center);
    @include media($screen-tablet-large) {
      margin-left: 0;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      padding-left: 16px;
    }
    @include media {
      padding-left: 0;
    }
  }
  &__title {
    text-align: center;
    @include text($H24, 700, $N13);
    margin-bottom: 38px;
    @include media($screen-tablet-large) {
      text-align: left;
    }
    @include media() {
      font-size: $H32;
    }
  }
  &__list {
    list-style: none;
    text-align: center;
    @include media($screen-tablet-large) {
      text-align: left;
    }
  }
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 32px;
      @include media($screen-tablet-large) {
        margin-bottom: 38px;
      }
    }
  }
}
