$style: service-card;

.#{$style} {
  text-align: left;
  text-align: center;
  @include media() {
    text-align: left;
  }
  &__head {
    margin-bottom: 9px;
    @include flex(center, center);
    @include media {
      @include flex-col;
    }
  }
  &__title {
    @include text($H20, 700, $N13);
    line-height: 1.3;
  }
  
  &__description {
    @include text($H16, 400, $N10);
    line-height: 1.5;
  }
  &__icon {
    @include size(20px);
    margin-right: 16px;
    @include media() {
      margin-right: 0;
      margin-bottom: 12px;
    }
  }
}