$style: solution-card;

.#{$style} {
  &__image {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 26px;
    border: 1px solid $N2-2;
    border-radius: 4px;
    overflow: hidden;
    @include media($screen-tablet-small) {
      margin-bottom: 22px;
    }
  }
  &__title {
    @include text($H18, 700, $N13);
    margin-bottom: 16px;
    @include media($screen-tablet-small) {
      font-size: $H20;
      margin-bottom: 18px;
    }
    @include media($screen-tablet-large) {
      font-size: $H24;
      margin-bottom: 22px;
    }
  }
  &__description {
    @include text($H14, 400, $N13);
    margin-bottom: 26px;
    @include media($screen-tablet-small) {
      font-size: $H16;
      margin-bottom: 14px;
    }
    @include media($screen-tablet-large) {
      font-size: $H18;
      margin-bottom: 22px;
    }
  }
}
