$style: solution-card;

.#{$style} {
  display: inline-block;
  position: relative;
  &__image-wrapper {
    overflow: hidden;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid $N2-2;
    @include media($screen-tablet-small) {
      margin-bottom: 22px;
   }  
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    border-radius: 4px;
  }
  &__title {
    @include text($H20, 700, $N13);
    margin-bottom: 16px;
    @include media($screen-tablet-small) {
      margin-bottom: 18px;
    }
    @include media($screen-tablet-large) {
      font-size: $H24;
      margin-bottom: 22px;
    }
    @include media {
      margin-bottom: 12px;
    }
  }
  &__description {
    @include text($H16, 400, $N13);
    margin-bottom: 24px;
    @include media($screen-tablet-large) {
      font-size: $H18;
      margin-bottom: 22px;
    }
  }
  &__button {
    width: 100%;
    @include media($screen-tablet-small) {
      width: auto;
    }
  }
}
