$style: solution-card;

.#{$style} {
  &__image {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 22px;
    border: 1px solid $N2-2;
    border-radius: 4px;
    overflow: hidden;
  }
  &__title {
    @include text($H24, 700, $N13);
    margin-bottom: 22px;
  }
  &__description {
    @include text($H18, 400, $N13);
    margin-bottom: 22px;
  }
}
