<footer class="footer overflow-fix">
  <div class="container">
    <div class="footer__head">
      <h3 data-aos="fade-up" class="footer__title">Have Project In Mind? Let’s Talk.</h3>
      <div data-aos="fade-up" class="footer__button-wrapper">
        <a href="#" class="button">Book a Call</a>
      </div>
      <div class="footer__icons">
        <div data-aos="zoom-in-right" class="footer__icon">
          <img src="../assets/images/texture-2.png" alt="" />
        </div>
        <div data-aos="zoom-in-right" class="footer__icon">
          <img src="../assets/images/texture-1.png" alt="" />
        </div>
        <div data-aos="zoom-in-right" class="footer__icon">
          <img src="../assets/images/texture-3.png" alt="" />
        </div>
        <div data-aos="zoom-in-left" class="footer__icon">
          <img src="../assets/images/texture-4.png" alt="" />
        </div>
        <div data-aos="zoom-in-left" class="footer__icon">
          <img src="../assets/images/texture-5.png" alt="" />
        </div>
        <div data-aos="zoom-in-left" class="footer__icon">
          <img src="../assets/images/texture-6.png" alt="" />
        </div>
        <div data-aos="zoom-in-down" class="footer__icon">
          <span class="footer__circle-icon"></span>
        </div>
      </div>
    </div>
    <div data-aos="fade-up" class="footer__footer">
      <div class="footer__col footer__col--fluid">
        <a href="/" class="footer__logo-wrapper">
          <svg class="footer__logo">
            <use xlink:href="#icon-merge-with-text" />
          </svg>
        </a>
        <a class="link link--white" href="mailto:hello@merge.rocks"
          >hello@merge.rocks</a
        >
      </div>
      <div class="footer__col footer__col--fluid footer__col--download">
        <a class="link" href="#"
          >Learn about us in a short PDF
          <svg>
            <use xlink:href="#icon-save" />
          </svg>
        </a>
      </div>
      <div class="footer__col-wrapper">
        <div class="footer__col footer__col--resources">
          <a href="#" class="link link--white">Resources</a>
        </div>
        <div class="footer__col">
          <ul class="footer__social">
            <li class="footer__social-item">
              <a href="#" class="link link--white link--icon">
                <svg>
                  <use xlink:href='#icon-behance' />
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="link link--white link--icon">
                <svg>
                  <use xlink:href='#icon-dribble' />
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="link link--white link--icon">
                <svg>
                  <use xlink:href='#icon-instagram' />
                </svg>
              </a>
            </li>
            <li class="footer__social-item">
              <a href="#" class="link link--white link--icon">
                <svg>
                  <use xlink:href='#icon-facebook' />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
