<header class="header">
  <div class="container animate__animated animate__fadeInDown animate__fast">
    <a aria-label="merge development" href="/" class="header__logo-wrapper">
      <svg focusable="false" class="header__logo header__logo--mobile">
        <use xlink:href="#icon-merge-mobile-with-text" />
      </svg>
      <svg focusable="false" class="header__logo header__logo--desktop">
        <use xlink:href="#icon-merge-with-text" />
      </svg>
    </a>
    <ul class="header__list animate__animated animate__fadeIn animate__slower">
      <li class="header__item header__item--not-mobile">
        <a href="#resources" class="link">Resources</a>
      </li>
      <li class="header__item">
        <a href="#hire-us" id='header-book-button-mobile' class="button button--outlined button--black mobile-only">Book a Call</a>
        <a href="#hire-us" class="button button--outlined is-tablet-small-inline-flex">Hire us</a>
      </li>
    </ul>
  </div>
</header>
