<div data-modal-id="modal-video" class="modal">

  <div class="container modal__inner">
    <div data-modal="close" class="modal__backdrop"></div>
    <div class="modal__card modal-video animate__animated animate__fadeInDown animate__faster">
      <button type="button" data-modal="close" class="close-btn modal__close-btn">
        <svg focusable="false" class="close-btn__icon">
          <use xlink:href="#icon-close" />
        </svg>
      </button>
      <div class="modal-video__video-wrapper">
        <iframe title="merge development video" class="modal-video__video" src="https://www.youtube.com/embed/eZe4Q_58UTU"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <a link="/#book-call" class="button button--fluid-mobile modal-video__button">Book a Call</a>
      <button data-modal="close" type="button" class="link modal__close-link">Close</button>
    </div>
  </div>
</div>