<section class="section-services">
  <div class="container">
    <h3 data-aos="fade-up" class="section-services__title">What Do We Do</h3>
    <h4
      data-aos="fade-up"
      data-aos-anchor=".section-services__title"
      class="section-services__subtitle"
    >
      We care deeply about what we do and have become experts in beautifully-designed software
    </h4>
    <ul class="section-services__list">
      <li
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        class="service-card section-services__item"
      >
        <img class="service-card__icon" src="../assets/svg/audit.svg" alt="audit" />
        <h4 class="service-card__title">Discovery & UX Phase</h4>
        <p class="service-card__description">
          We'll define a clear vision of the product that we'd help you to build through Tech &
          Business Requirements List, UX Architecture, Scope Priotorizing and Roadmap.
        </p>
      </li>
      <li
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        class="section-services__item service-card"
      >
        <img class="service-card__icon" src="../assets/svg/design.svg" alt="audit" />
        <h4 class="service-card__title">UI & Web Design</h4>
        <p class="service-card__description">
          The Atomic Design approach makes our design process highly efficient. We prepare
          Wireframes and High-Fidelity Mockups for Web & Mobile Apps and Websites to reach fresh,
          clean & easy-to-use user interface.
        </p>
      </li>
      <li
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        class="section-services__item service-card"
      >
        <img class="service-card__icon" src="../assets/svg/illustration.svg" alt="audit" />
        <h4 class="service-card__title">Illustration</h4>
        <p class="service-card__description">
          The key thing for visual communication nowadays between customers and brands. We'll design
          eye-catchy digital illustrations for your product to present in on the user-friendly way.
        </p>
      </li>
      <li
        data-aos="zoom-in"
        data-aos-anchor-placement="top-bottom"
        class="section-services__item service-card"
      >
        <img class="service-card__icon" src="../assets/svg/development.svg" alt="audit" />
        <h4 class="service-card__title">Development</h4>
        <p class="service-card__description">
          Full-cycle development for Front-end and Back-end for following porpuses: Components
          Library, connecting CMS (Webflow), Web-applications on Vue.js & React.js and Node.js & PHP based
          frameworks for Back-end.
        </p>
      </li>
    </ul>
  </div>
</section>
