<div data-aos="flip-down" class="container section-dribble__wrapper">
  <a href="/#" class="section-dribble">
    <h3 class="section-dribble__title">Check out our Dribbble Showcases</h3>
    <div class="section-dribble__inner"></div>
    <div class="section-dribble__ball section-dribble__ball--big">
      <img class="section-dribble__ball-icon" src="../assets/svg/dribble-ball.svg" alt="">
    </div>
    <div class="section-dribble__ball section-dribble__ball--medium">
      <img class="section-dribble__ball-icon" src="../assets/svg/dribble-ball.svg" alt="">
    </div>
    <div class="section-dribble__ball section-dribble__ball--small">
      <img class="section-dribble__ball-icon" src="../assets/svg/dribble-ball.svg" alt="">
    </div>
  </a>
</div>