<section class="section-solutions container">
  <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="section-solutions__title-wrapper">
    <h2 data-uk-parallax="media: @s; y: 70,0;" class="section-solutions__title">
      Our Implemented Business Solutions
    </h2>
  </div>
  <ul class="section-solutions__list">
    <li data-uk-parallax="media: @s;  y: 100,0;" class="section-solutions__item solution-card">
      <div class="solution-card__image-wrapper">
        <div class="solution-card__image-inner">
          <img data-uk-parallax="media: @s; y: 50,0;" class="solution-card__image" src="../assets/images/noviscient.png"
            alt="Noviscient">
        </div>
      </div>
      <h3 class="solution-card__title">Noviscient</h3>
      <p class="solution-card__description">
        Multi-strategy, quantitative investment management platform. The Singapore-based startup
        that provides an investment management platform with a business model based on alignment,
        performance, and transparency.
      </p>
      <a href="#" class="button button--outlined button--black solution-card__button">Show Case Study</a>
    </li>
    <li data-uk-parallax="media: @s; y: 100,0;" class="section-solutions__item solution-card">
      <div class="solution-card__image-wrapper">
        <div class="solution-card__image-inner">
          <img data-uk-parallax="media: @s; y: 50,0;" class="solution-card__image" src="../assets/images/camps.png"
            alt="Childcamps">
        </div>
      </div>
      <h3 class="solution-card__title">Childcamps</h3>
      <p class="solution-card__description">
        Platform which specifically designed to connect camps with their customers.
      </p>
      <a href="#" class="button button--outlined button--black solution-card__button">Show Case Study</a>
    </li>

    <li data-uk-parallax="media: @s; y: 100,0;" class="section-solutions__item solution-card">
      <div class="solution-card__image-wrapper">
        <div class="solution-card__image-inner">
          <img data-uk-parallax="media: @s; y: 50,0;" class="solution-card__image" src="../assets/images/tokenplace.png"
            alt="Token Place">
        </div>
      </div>
      <h3 class="solution-card__title">Token Place</h3>
      <p class="solution-card__description">
        Multi-exchange Trading Terminal and Portfolio management service.
      </p>
      <a href="#" class="button button--outlined button--black solution-card__button">Show Case Study</a>
    </li>
    <li data-uk-parallax="media: @s; y: 100,0;" class="section-solutions__item solution-card">
      <div class="solution-card__image-wrapper">
        <div class="solution-card__image-inner">
          <img data-uk-parallax="media: @s; y: 50,0;" class="solution-card__image" src="../assets/images/fundplatform.png"
            alt="Fund Platform">
        </div>
      </div>
      <h3 class="solution-card__title">Fund Platform</h3>
      <p class="solution-card__description">
        Custom development agency in the past hired us to help them with transformation in a product
        company. They needed help with correct business requirements, functionalities list, whole
        product workflows and user journeys, architecture development, and full product design with
        front-end development.
      </p>
      <a href="#" class="button button--outlined button--black solution-card__button">Show Case Study</a>
    </li>
  </ul>
</section>