<section class="section-expertise">
  <div id="expertise-anchor" class="section-expertise__image-wrapper">
    <img class="section-expertise__image-filter" src="../assets/images/filter-1.png" alt="" />
    <img
      data-aos="fade-right"
      class="section-expertise__image-filter"
      src="../assets/images/filter-2.png"
      alt=""
    />
    ${require('./expertise-svg.html')}
  </div>
  <div class="container container--1-2 section-expertise__container">
    <h3
      data-aos="fade-left"
      data-aos-anchor-placement="top-bottom"
      class="section-expertise__title"
    >
      Our Expertise In The Following Areas
    </h3>
    <ul class="section-expertise__list">
      <li
        data-aos="fade-left"
        data-aos-delay="200"
        data-aos-anchor-placement="top-bottom"
        class="section-expertise__item expertise-card"
      >
        <svg
          class="expertise-card__icon expertise-card__icon--crm"
          viewBox="0 0 30 27"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path class="icon-crm__dot" d="M3.5177 3.51831H5.27689V5.27612H3.5177V3.51831Z" />
          <path class="icon-crm__dot" d="M7.03625 3.51831H8.79544V5.27612H7.03625V3.51831Z" />
          <path class="icon-crm__dot" d="M10.5547 3.51831H12.3139V5.27612H10.5547V3.51831Z" />
          <path
            d="M0 0V26.4814H30V0H0ZM28.2422 1.75781V7.03697H1.75781V1.75781H28.2422ZM1.75781 24.7238V8.79478H28.2422V24.7236H1.75781V24.7238Z"
            fill="#3E4045"
          />
          <path
            d="M4.44531 22.9158H25.5546V17.6394H4.44531V22.9158ZM23.7968 21.158H9.67435V19.3972H23.7968V21.158ZM6.20312 19.3972H7.91653V21.158H6.20312V19.3972Z"
          />
          <path d="M15.8796 14.1211H25.5554V15.8789H15.8796V14.1211Z" />
          <path d="M4.4447 14.1211H14.1205V15.8789H4.4447V14.1211Z" />
          <path d="M9.72241 10.6028H20.2778V12.3606H9.72241V10.6028Z" />
          <path d="M4.4447 10.6028H7.96307V12.3606H4.4447V10.6028Z" />
          <path d="M22.037 10.6028H25.5554V12.3606H22.037V10.6028Z" />
        </svg>
        <h4 class="expertise-card__title">SaaS Platform</h4>
        <p class="expertise-card__description">CRM, Analytics Platforms, Healthcare</p>
      </li>
      <li
        data-aos="fade-left"
        data-aos-delay="200"
        data-aos-anchor-placement="top-bottom"
        class="section-expertise__item expertise-card"
      >
        <svg
          class="expertise-card__icon expertise-card__icon--exchange"
          fill="none"
          viewBox="0 0 30 32"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.41931 7.33911H10.7166"
            stroke="#37CDAB"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M3.53207 5.09058L1.14014 7.48251"
            stroke="#37CDAB"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M3.53207 9.87436L1.14014 7.48242"
            stroke="#37CDAB"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            id="usd-path"
            d="M21.1377 7.11933C18.4922 5.22607 17.3597 7.06017 17.5456 8.07441C17.7316 9.08866 18.9487 9.27461 19.4642 9.35068C23.1071 9.87471 20.6813 14.1684 17.0638 11.4891"
            stroke="#37CDAB"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M19.1687 5.22607V6.20651"
            stroke="#37CDAB"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M19.1599 12.3342L19.1684 13.6528"
            stroke="#37CDAB"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <g data-aos="zoom-in" data-aos-anchor="#expertise-anchor">
            <circle
              cx="19.1686"
              cy="9.45207"
              r="8.45207"
              stroke="#37CDAB"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <path
            d="M9.02596 22.9746H4.79993"
            stroke="#3E4045"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            id="eu-path"
            d="M12.0517 25.4515C11.365 26.0858 10.4492 26.4124 9.51608 26.3559C7.4155 26.3559 5.71265 24.653 5.71265 22.5525C5.71265 20.4519 7.4155 18.749 9.51608 18.749C10.4699 18.7498 11.3834 19.1335 12.0517 19.814"
            stroke="#3E4045"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M28.0431 24.9697H17.9006"
            stroke="#3E4045"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M25.651 27.3532L28.0429 24.9697"
            stroke="#3E4045"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M25.651 22.5779L28.0429 24.9698"
            stroke="#3E4045"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M17.7992 21.2172C18.3437 24.633 16.752 28.0358 13.7812 29.8072C10.8103 31.5787 7.05991 31.3612 4.31374 29.2582C1.56756 27.1553 0.379876 23.5913 1.31557 20.2613C2.25126 16.9314 5.12147 14.5076 8.56108 14.1428"
            stroke="#3E4045"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <h4 class="expertise-card__title">Fintech apps</h4>
        <p class="expertise-card__description">
          Wealth Management, Accounting, Trading Platforms, Exchanges
        </p>
      </li>
      <li
        data-aos="fade-left"
        data-aos-anchor-placement="top-bottom"
        data-aos-delay="200"
        class="section-expertise__item expertise-card"
      >
        <svg
          class="expertise-card__icon expertise-card__icon--mobile"
          viewBox="0 0 24 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.5639 29.1947H2.73156C1.76958 29.1947 1 28.4163 1 27.4631V2.73156C1 1.76958 1.77833 1 2.73156 1H14.5639C15.5259 1 16.2954 1.77833 16.2954 2.73156V27.4631C16.2954 28.4163 15.5171 29.1947 14.5639 29.1947Z"
            fill="white"
            stroke="#3E4045"
            stroke-width="2"
            stroke-miterlimit="10"
          />
          <path
            d="M1.0791 25.6094H16.3833"
            stroke="#3E4045"
            stroke-width="2"
            stroke-miterlimit="10"
          />

          <g>
            <path
              d="M16.3394 10.9609L21.1318 15.8845C22.2162 16.9952 22.7059 18.5518 22.4436 20.0822L20.9219 29.1948H15.3687"
              fill="white"
            />
            <path
              d="M16.3394 10.9609L21.1318 15.8845C22.2162 16.9952 22.7059 18.5518 22.4436 20.0822L20.9219 29.1948H15.3687"
              stroke="#37CDAB"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
            />
            <path
              d="M19.4002 29.1946H11.0922C11.0922 29.1946 10.8298 22.7231 14.6778 21.936L10.7599 18.0182C9.94658 17.2048 9.94658 15.9018 10.7599 15.0885C11.5732 14.2752 12.8762 14.2752 13.6895 15.0885L17.6074 19.0064"
              fill="white"
            />
            <path
              d="M19.4002 29.1946H11.0922C11.0922 29.1946 10.8298 22.7231 14.6778 21.936L10.7599 18.0182C9.94658 17.2048 9.94658 15.9018 10.7599 15.0885C11.5732 14.2752 12.8762 14.2752 13.6895 15.0885L17.6074 19.0064"
              stroke="#37CDAB"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
        </svg>
        <h4 class="expertise-card__title">Mobile apps</h4>
        <p class="expertise-card__description">Healthcare, Lifestyle, Utility</p>
      </li>
    </ul>
  </div>
</section>
