<section class="container section-comments">
  <div class="section-comments__title-wrapper">
    <h3 data-aos="fade-right" data-aos-anchor-placement="top-bottom" class="section-comments__title">
      What Our Clients Say?
    </h3>
  </div>
  <div data-aos="fade-left" data-aos-anchor-placement="top-bottom" class="section-comments__content-wrapper">
    <span class="section-comments__border"></span>
    <div id="comments-slider" class="comments-slider section-comments__slider">
      <div class="comments-slider__slide">
        <div class="comments-slider__slide-head">
          <img data-aos="zoom-in" class="comments-slider__icon-quotes" src="../assets/svg/Union.svg" alt="">
          <h4 class="comments-slider__company">Bahrain</h4>
          <p class="comments-slider__comment" data-value="comment">Leads due to clarity of the layout.</p>
        </div>
        <h5 class="comments-slider__author">
          Ollie Davidson,
          <span class="comments-slider__author comments-slider__author--thin">SEO</span>
        </h5>
      </div>
      <div class="comments-slider__slide">
        <div class="comments-slider__slide-head">
          <img class="comments-slider__icon-quotes" src="../assets/svg/Union.svg" alt="">
          <h4 class="comments-slider__company">Togo</h4>
          <p class="comments-slider__comment" data-value="comment">
            Ever five orange nearby silver mark tiny earn stick last tower interest street corn inch
            saw barn bank vote went coach.
          </p>
        </div>
        <h5 class="comments-slider__author">
          Eunice Hawkins,
          <span class="comments-slider__author comments-slider__author--thin">SEO</span>
        </h5>
      </div>
      <div class="comments-slider__slide">
        <div class="comments-slider__slide-head">
          <img class="comments-slider__icon-quotes" src="../assets/svg/Union.svg" alt="">
          <h4 class="comments-slider__company">Mayotte</h4>
          <p class="comments-slider__comment" data-value="comment">
            Spider star camera shot step blue donkey doing broad hurried shape actually not area
            product start jack trouble constantly cowboy truck probably unusual excitedAfter we
            followed Merge 2 month design process we seen a considerable uplift in inbound leads due
            to clarity of the layout.
          </p>
        </div>
        <h5 class="comments-slider__author">
          Raymond Williamson,
          <span class="comments-slider__author comments-slider__author--thin">SEO</span>
        </h5>
      </div>
    </div>
    <div class="comments-slider__controll">
      <div class="comments-slider__dots"></div>
      <button type="button" class="comments-slider__arrow">
        <span class="comments-slider__arrow-text">Next</span><img class="comments-slider__arrow-icon"
          src="../assets/svg/long-arrow.svg" alt="">
      </button>
    </div>
  </div>
</section>