<section class="section-solutions container">
  <h2 data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="section-solutions__title">Our Implemented
    Business Solutions</h2>

  <ul class="section-solutions__list">
    <li data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" class="section-solutions__item solution-card">
      <img class="solution-card__image" src="https://picsum.photos/800/600" alt="Noviscient">
      <h3 class="solution-card__title">Noviscient</h3>
      <p class="solution-card__description">Multi-strategy, quantitative investment management platform. The
        Singapore-based startup that provides an investment management platform with a business model based on
        alignment, performance, and transparency. </p>
      <a href="#" class="button button--outlined button--black solution-card__button">Show Case Study</a>
    </li>
    <li data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" class="section-solutions__item solution-card">
      <img class="solution-card__image" src="https://picsum.photos/800/900" alt="Childcamps">
      <h3 class="solution-card__title">Childcamps</h3>
      <p class="solution-card__description">Platform which specifically designed to connect camps with their
        customers.</p>
      <a href="#" class="button button--outlined button--black solution-card__button">Show Case Study</a>
    </li>

    <li data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" class="section-solutions__item solution-card">
      <img class="solution-card__image" src="https://picsum.photos/1000/600" alt="Token Place">
      <h3 class="solution-card__title">Token Place</h3>
      <p class="solution-card__description">Multi-exchange Trading Terminal and Portfolio management service.</p>
      <a href="#" class="button button--outlined button--black solution-card__button">Show Case Study</a>
    </li>
    <li data-aos="zoom-in-up" data-aos-anchor-placement="top-bottom" class="section-solutions__item solution-card">
      <img class="solution-card__image" src="https://picsum.photos/800/700" alt="Fund Platform">
      <h3 class="solution-card__title">Fund Platform</h3>
      <p class="solution-card__description">Custom development agency in the past hired us to help them with
        transformation in a product company.
        They needed help with correct business requirements, functionalities list, whole product workflows and user
        journeys, architecture development, and full product design with front-end development.</p>
      <a href="#" class="button button--outlined button--black solution-card__button">Show Case Study</a>
    </li>
  </ul>

</section>