<div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="container section-dribble__wrapper">
  <a href="/#" class="section-dribble">
    <div class="section-dribble__image-wrapper">
      <img class="section-dribble__image" src="../assets/images/dribble-1.png" alt="calendar">
    </div>
    <div class="section-dribble__content" data-uk-scrollspy="cls: _active; delay: 1000;" >
      <div class="section-dribble__icon-wrapper">
        ${require('./dribble-svg.html')}
      </div>
      <h3 class="section-dribble__title">Check out our Dribbble Showcases</h3>
    </div>
</a>
</div>