<section class="section-hero">
  <div class="container section-hero__container">
    <div class="section-hero__content-side">
      <h2 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" class="section-hero__title">
        We'll help your product became a new economy player
      </h2>
      <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="750" class="section-hero__description">
        We're a dedicated UX-oriented team of designers and front-end developers specialized on
        Fintech products, SaaS platforms and Mobile apps design.
      </p>
      <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">
        <a href="#call" class="button button--fluid-mobile">Book a Call</a>
      </div>
    </div>
    <div class="section-hero__video-side">
      <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1250" class="section-hero__video-wrapper">
        <img class="section-hero__icon-texture" src="../assets/images/texture-7.png" alt="">
        <img class="section-hero__icon-texture" src="../assets/svg/circle.svg" alt="">
        <img class="section-hero__icon-texture" src="../assets/images/texture-8.png" alt="">
        <img class="section-hero__icon-texture" src="../assets/images/texture-9.png" alt="">
        <img class="section-hero__icon-texture" src="../assets/images/texture-10.png" alt="">
        <img class="section-hero__icon-texture" src="../assets/svg/doughnut.svg" alt="">
        <div id="modal-video" class="section-hero__video-container">
          <div class="section-hero__play-icon-wrapper">
            <svg focusable="false" class="section-hero__play-icon" viewBox="0 0 100 100">
              <circle cx="50" cy="50" r="49" stroke="white" stroke-width="2" fill="none" />
              <path d="M39.3334 31.3335V68.6668L68.6667 50.0002L39.3334 31.3335Z" />
            </svg>
          </div>
          <img class="section-hero__video-image" src="../assets/images/video-image.png" alt="merge development video">
        </div>
      </div>
    </div>
    <div class="background-map section-hero__background-map">
      <div class="background-map__image-wrapper">
        <a class="location-marker background-map__location-marker" href="https://goo.gl/maps/5Qeykg9ZApBLqWy36"
          target="_blank">
          <div class="location-marker__icon">
            <svg focusable="false" class="location-marker__pin">
              <use xlink:href="#icon-location" />
            </svg>
            <div class="location-marker__pulse animate__animated animate__fadeIn animate__delay-3s"></div>
          </div>
          <h3 class="location-marker__text">Kyiv, Ukraine</h3>
        </a>
        <img class="background-map__image" src="../assets/svg/world.svg" alt="">
      </div>
    </div>
  </div>
</section>