<section class="container section-comments">
  <div class="section-comments__title-wrapper">
    <h3 data-aos="fade-right" data-aos-anchor-placement="top-bottom" class="section-comments__title">
      What Our Clients Say?
    </h3>
  </div>
  <div data-aos="fade-left" data-aos-anchor-placement="top-bottom" class="section-comments__content-wrapper">
    <div data-aos="fade-up" id="slider-icon-qoutes" class="comments-slider__icon-quotes-wrapper">
      <img class="comments-slider__icon-quotes" src="../assets/svg/Union.svg"
        alt="">
    </div>
    <div id="comments-slider" class="comments-slider section-comments__slider">
      <div class="comments-slider__slide">
        <div data-value="comment-wrapper" class="comments-slider__comment-wrapper">
          <p class="comments-slider__comment" data-value="comment">Leads due to clarity of the layout.</p>
        </div>
        <div class="comments-slider__slide-footer">
          <h4 data-value="company" class="comments-slider__company">Bahrain</h4>
          <h5 data-value="author" class="comments-slider__author">
            Ollie Davidson, SEO
          </h5>
        </div>
      </div>
      <div class="comments-slider__slide">
        <div data-value="comment-wrapper" class="comments-slider__comment-wrapper">
          <p class="comments-slider__comment" data-value="comment">Ever five orange nearby silver mark tiny earn stick
            last tower interest street corn inch
            saw barn bank vote went coach.</p>
        </div>
        <div class="comments-slider__slide-footer">
          <h4 data-value="company" class="comments-slider__company">Togo</h4>
          <h5 data-value="author" class="comments-slider__author">
            Eunice Hawkins, SEO
          </h5>
        </div>
      </div>
      <div class="comments-slider__slide">
        <div data-value="comment-wrapper" class="comments-slider__comment-wrapper">
          <p class="comments-slider__comment" data-value="comment">Spider star camera shot step blue donkey doing broad
            hurried shape actually not area
            product start jack trouble constantly cowboy truck probably unusual excitedAfter we
            followed Merge 2 month design process we seen a considerable uplift in inbound leads due
            to clarity of the layout. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam nesciunt ipsum, commodi possimus quo eos accusantium tenetur delectus a fuga? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione suscipit voluptatem voluptates quaerat, autem blanditiis? Blanditiis magni sapiente minima impedit!</p>
        </div>
        <div class="comments-slider__slide-footer">
          <h4 data-value="company" class="comments-slider__company">Mayotte</h4>
          <h5 data-value="author" class="comments-slider__author">
            Raymond Williamson, SEO
          </h5>
        </div>
      </div>
    </div>
    <div class="comments-slider__controll">
      <div class="comments-slider__dots"></div>
      <button type="button" class="comments-slider__arrow">
        <span class="comments-slider__arrow-text">Next</span><img class="comments-slider__arrow-icon"
          src="../assets/svg/long-arrow.svg" alt="">
      </button>
    </div>
  </div>
</section>